body {
  font-family: 'Segoe UI', sans-serif;
}

span {
  font-style: italic;
}

#logger {
  width: 1024px;
  height: 200px;
  background: #EEE;
  overflow-y: scroll;
  text-align: left;
}

#canvas {
  position: relative;
  border: 1px solid;
}